/*
* CONTAINER STYLING
*/
.container
  display: flex
  max-width: 1200px
  flex-flow: column nowrap
  margin: 0 auto
.container, .container [class*='col-'], .container .row
  box-sizing: border-box
  display: flex
/*
* ROW STYLING
*/
.row
  display: flex
  margin-bottom: 5px
[class*='row']:last-of-type
  margin-bottom: 0
/*
*COLUMN STYLING
*/

//DESKTOP STYLING
.col-desktop-20
  flex:0 0 20%
.col-desktop-33
  flex:0 0 33%
.col-desktop-40
  flex:0 0 40%
.col-desktop-60
  flex:0 0 60%
.col-desktop-80
  flex:0 0 80%
.col-desktop-100
  flex:0 0 100%
//MOBILE STYLING
@media (max-width: 450px)
  [class*='col-']
    margin-right: 0
  .col-mobile-20
        flex:0 0 20%
  .col-mobile-33
      flex:0 0 33%
  .col-mobile-40
    flex:0 0 40%
  .col-mobile-60
    flex:0 0 60%
  .col-mobile-80
    flex:0 0 80%
  .col-mobile-100
    flex:0 0 100%
//Helper classes
.center
    justify-content: center
.container.center
    align-items: center
